<footer class="container-fluid py-4 text-center text-bg-light zoom bg-dark">
    <section>
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8106156.107222958!2d-79.90005172851905!3d7.2312553638051575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9aebcd39b745%3A0x4ba84bcd38d1f0b1!2sEl%20Sabor%20De%20La%20Costa!5e0!3m2!1ses!2sco!4v1669266868631!5m2!1ses!2sco"
             width="1118" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <h2>Todos los Derechos Reservados & lemys.almanza2022<span class="ai-copy"></span></h2>
</footer>